<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Location Timer</title>
    <!--Bootstrap latest compiled and minified CSS-->
    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <!--Optional theme-->
    <link rel="stylesheet" href="vendors/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendors/angular-ui.min.css">
    <link rel="stylesheet" href="vendors/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="vendors/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/angular-csp.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="content/css/app.css" />
    <!-- DataPicker -->
    <link rel="stylesheet" href="node_modules/datetimepicker.css" />
</head>

<body>

    <!--navbar directive that stays at the top of every page-->
    <gz-navbar></gz-navbar>

    <!--Main content that changes based on route-->
    <div ng-view class="container"></div>
    <div ng-controller="AlertController" class="col-md-2 alertbox">
        <alert ng-repeat="alert in alerts" ng-model="alert" />
    </div>
    <!--Third-party JS-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE-jl5M36nmW6tZblnpHS0XKM4zoEhDMA&libraries=places" async defer></script>


    <script type="text/javascript" src="vendors/jquery.min.js"></script>
    <script type="text/javascript" src="vendors/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendors/angular-aria.min.js"></script>
    <script type="text/javascript" src="vendors/angular-cookies.min.js"></script>
    <script type="text/javascript" src="vendors/http-auth-interceptor.js"></script>
    <script type="text/javascript" src="vendors/angular-messages.min.js"></script>
    <script type="text/javascript" src="vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="vendors/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="vendors/angular-ui.min.js"></script>
    <script type="text/javascript" src="vendors/angularfire.min.js"></script>
    <script type="text/javascript" src="vendors/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="vendors/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="vendors/firebase.js"></script>
    <script type="text/javascript" src="vendors/underscore-min.js"></script>
    <script type="text/javascript" src="vendors/moment.min.js"></script>
    <script type="text/javascript" src="vendors/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="node_modules/datetimepicker.js"></script>
    <script type="text/javascript" src="node_modules/datetimepicker.templates.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDcPq_z9vh4CidkzFDyerRK0ZS7gs2Sj14",
            authDomain: "citytimer-90920.firebaseapp.com",
            databaseURL: "https://citytimer-90920.firebaseio.com",
            storageBucket: "citytimer-90920.appspot.com",
            messagingSenderId: "497040832817"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <!--core module-->
    <script src="app/app.min.js"></script>

</body>

</html>